#debug {
    position: fixed;
}

#tools {
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    width: 200px;
    height:100px;
}

#battlemap {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
 /* Sidebar */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ebebef;
    overflow-x: hidden;
    /*padding-top: 20px;*/
    border-left: 1px solid #ccd;
}

/* Sidebar View Selector */
.sidebar-view-selector {
    display: flex;
    justify-content: center;
    border-bottom: 1.5px solid #ccd;
    padding: 0px 4px;
}

/* Sidebar Buttons */
.sidebar-button {
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #333;
    width: 42%;
    border: 1.5px solid #bababf;
    background-color: #cfcfd3;
    margin: 10px 7px;
    text-align: center;
    border-radius: 3px;
}

/* Sidebar Buttons: hover */
.sidebar-button:hover {
    /*color: #111;*/
    background-color: #d7d7db;
}

/* Sidebar Buttons: selected */
.sidebar-button.selected {
    /*color: #111;*/
    background-color: #f1f1f5;
    border-color: #a4a4a8;
}

/* Sidebar Buttons: selected, hover */
.sidebar-button.selected:hover {
    /*color: #111;*/
    background-color: #f5f5f9;
}

/* Battlemap content */
.content {
    margin-right: 250px; /* Account for the width of the sidebar */
    padding: 0px 10px;
    overflow: scroll;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    .sidebar {
        background-color: #2b2b2f;
    }

    .sidebar-view-selector {
        border-bottom: 1.5px solid #6d6d72;
    }

    .sidebar-button {
        background-color: #515155;
        border-color: #4d4d52;
        color: #f1f1f1;
    }

    .sidebar-button:hover {
        background-color: #616165;
    }

    .sidebar-button.selected {
        background-color: #67676a;
        border-color: #959599;
    }

    .sidebar-button.selected:hover {
        background-color: #727276;
    }
}
