<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Encounter</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="icon" href="static/images/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <div id="debug">Debug:</div>
    <div style="overflow: none;">
        <canvas id="battlemap" width="1000" height="1000" oncontextmenu="return false;"/>
    </div>
    <script src="static/script.js"></script>
    <form>
    <div id="tools">
        <label><input type="radio" name="tool" value="select" checked="checked" />Select</label>
        <label><input type="radio" name="tool" value="place" />Place</label>
        <div id="palette">
            <ul class="no-bullets">
                <li><label><input type="radio" name="palette" value="rock" checked="checked"/>Rock</label></li>
                <li><label><input type="radio" name="palette" value="bush"/>Bush</label></li>
            </ul>
        </div>
    </div>
    </form>
</body>
</html>
